<div class="container">
  <div class="tour-wrapper">
    <div class="tour-search col-md-3">
      <div class="search-menu">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button"
          id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
            <i class="glyphicon glyphicon-cog"></i>
            <span class="caret">Activities</span>
          </button>
        <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1">
          <li >
            <%= Activity.all.each do |a|%>
            <label>
              <input type="checkbox"><%= a.name %>
            </label>
            <%end%>
          </li>

        </ul>
      </div>
      </div>
      <div class="info-menu">

      </div>
    </div>
    <div class="tour-result col-md-9">
      <div class="top">
        <div class="tour-count"></div>
        <div class="search-key"></div>
      </div>

      <div class="tour-list row">
        <% @tours.each do |tour| %>
         <p class="tags">
          <% tour.tag_list.each do |tag| %>
          <%= link_to tag, tagged_path(tag: tag) %>
          <% end %>
        </p>
        <%= link_to tour_path(tour), class:"content-card", :action => 'go' do %>
        <div class="tour-card m-3" style="width: 18rem;">
          <%= cl_image_tag tour.photo %>
          <div class="tour-card-body">
            <h2 class="tour-card-title"><%= tour.name.first(20).upcase %></h2>
            <span class="tour-card-like">
              <% if current_or_guest_user.likes?(tour)%>
              <object><%= link_to raw('<i class="far fa-heart"></i>'), unlikes_path(tour), class: "unlike" %></object><span class="tooltiptext">Save for later</span>
              <%else%>
              <object><%= link_to raw('<i class="far fa-heart"></i>'), unlikes_path(tour), class: "like" %></object><span class="tooltiptext">Unsaved</span>
              <%end%>
            </span>

          </div>

          <ul class="tour-card-list">
            <li>
              <span class="icon"><%= image_tag "pinpoint.svg"%></span>
              <span class="name"><%= tour.location.country.name  %></span>
            </li>
            <li>
              <span class="icon"><%= cl_image_tag tour.activity.photo%></span>
              <span class="name"><%= tour.activity.name%></span>
            </li>
            <li>
              <span class="icon"><%= image_tag "price.png"%></span>
              <span class="name">US$ <%= tour.price %></span>
            </li>
            <li>
              <span class="icon"><%= image_tag "calendar1.svg"%></span>
              <span class="name"><%= tour.duration.first(6) %></span>
            </li>
          </ul>
          <%if user_signed_in?%>
          <div class="card-body">
            <% if policy(Tour).edit? %>
            <%= link_to raw('<i class="far fa-edit"></i>'), edit_tour_path(tour), class: "mr-2" %>
            <%end%>
            <% if policy(Tour).destroy? %>
            <%= link_to raw('<i class="far fa-trash-alt"></i>'), tour_path(tour), method: "delete", data: { confirm: "Are you sure you want to delete '#{tour.name}'?" } %>
            <%end%>
          </div>
          <%end%>
        </div>
        <%end%>
        <% end %>
      </div>
    </div>
  </div>
</div>

