
  <div class="tour-wrapper">
    <div class="tour-search" id="mySidebar">
      <a href="javascript:void(0)" class="closebtn" id="close">Close <i class="fas fa-times-circle"></i></a>
      <div class="search_form">
        <h5 class="title">Select your interesting</h5>
        <%= simple_form_for(:search, url: tours_path, method: "GET", id: "search_form") do |f| %>
        <div id="tag_cloud" class="custom-control custom-checkbox">
          <% tag_cloud Tour.tag_counts_on(:tags).order("name ASC"), %w[s m l] do |tag, css_class| %>
          <label class="btn btn-outline-warning"><%= check_box_tag 'tags[]', (tag.name), false, class: "badgebox", id: "search"  %>
            <span><%= tag.name %></span></label>
            <%end%>
          </div>
          <%= f.submit "Search", class: "btn-arrow" %>
          <!--<%= link_to "Reset", tours_path  %>-->
          <%end%>
      </div>
      <div class="infos">
        <h5 class="title">General Informations</h5>
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#essential">
        Esstial Info <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="essential" tabindex="-1" role="dialog" aria-labelledby="essentialTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="essentialTitle">Esstial Info:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <% Country.all.each do |country|%>
                <h3>Essential Informations of <%=country.name%></h3>
                <%= country.essential_info.html_safe %>
                <%end%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#visa" >
        Visa Permit <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="visa" tabindex="-1" role="dialog" aria-labelledby="visaTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="visaTitle">Visa Permit:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <% Country.all.each do |country|%>
                <h3>Visa to <%=country.name%></h3>
                <%= country.visa_permit.html_safe %>
                <%end%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#weather">
        Weather & Climate <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="weather" tabindex="-1" role="dialog" aria-labelledby="weatherTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="weatherTitle">Weather & Climate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <% Country.all.each do |country|%>
                <h3>Weather of <%=country.name%></h3>
                <%= country.weather_climate.html_safe %>
                <%end%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#festival">
        Festival & Events <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="festival" tabindex="-1" role="dialog" aria-labelledby="festivalTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="festivalTitle">Festival & Events</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <% Country.all.each do |country|%>
                <h3>Festival & Events of <%=country.name%></h3>
                <%= country.festival_events.html_safe %>
                <%end%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#local">
        Local Custom <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="local" tabindex="-1" role="dialog" aria-labelledby="localTitle" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="localTitle">Local Custom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <% Country.all.each do |country|%>
                <h3>Local Custom of <%=country.name%></h3>
                <%= country.local_customs.html_safe %>
                <%end%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
      </div>
    </div>
    <div class="tour-result col-md-12" id="main">
      <button class="openbtn" id="open">Open More <i class="fas fa-align-left"></i></button>
      <div class="top">
        <div class="tour-count"></div>
        <div class="search-key"></div>
      </div>

      <div class="tour-list row">
        <% @tours.each do |tour| %>
        <%= link_to tour_path(tour), class:"content-card", :action => 'go' do %>
        <div class="tour-card m-3" style="width: 18rem;">
          <%= cl_image_tag tour.photo %>
          <div class="tour-card-body">
            <h2 class="tour-card-title"><%= tour.name.first(20).upcase %></h2>
            <span class="tour-card-like">
              <% if guest_user.likes?(tour)%>
              <object><%= link_to raw('<i class="far fa-heart"></i>'), unlikes_path(tour), class: "unlike",  remote: true, id: "like_#{tour.id}", method: "GET" %></object><span class="tooltiptext">Save for later</span>
              <%else%>
              <object><%= link_to raw('<i class="far fa-heart"></i>'), likes_path(tour), class: "like",  remote: true, id: "like_#{tour.id}", method: "GET" %></object><span class="tooltiptext">Save for later</span>
              <%end%>
            </span>

          </div>

          <ul class="tour-card-list">
            <li>
              <span class="icon"><%= image_tag "pinpoint.svg"%></span>
              <span class="name"><%= tour.location.country.name  %></span>
            </li>
            <li>
              <span class="icon"><%= cl_image_tag tour.activity.photo%></span>
              <span class="name"><%= tour.activity.name%></span>
            </li>
            <li>
              <span class="icon"><%= image_tag "price.png"%></span>
              <span class="name">US$ <%= tour.price %></span>
            </li>
            <li>
              <span class="icon"><%= image_tag "calendar1.svg"%></span>
              <span class="name"><%= tour.duration.first(6) %></span>
            </li>
          </ul>
          <%if user_signed_in?%>
          <div class="card-body">
            <% if policy(Tour).edit? %>
            <%= link_to raw('<i class="far fa-edit"></i>'), edit_tour_path(tour), class: "mr-2" %>
            <%end%>
            <% if policy(Tour).destroy? %>
            <%= link_to raw('<i class="far fa-trash-alt"></i>'), tour_path(tour), method: "delete", data: { confirm: "Are you sure you want to delete '#{tour.name}'?" } %>
            <%end%>
          </div>
          <%end%>
        </div>
        <%end%>
        <% end %>
      </div>
    </div>
  </div>


