<%= simple_form_for [@tour, @pdf] do |f|%>

<% if pdf.errors.any? %>
<div>
  <ul>
    <% pdf.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <div class="form-group col-12 col-md-6">
    <%= f.input :name, label: 'Your Name', class: 'form-control'%>
  </div>
  <div class="form-group col-12 col-md-6">
    <%= f.input :email, label: 'Where should we send a PDF to? (We will not spam you)', placeholder: "email address", class: 'form-control'%>
  </div>

<%= f.submit "Get Factsheet", class: 'btn btn-info' %>
<%= f.button :button, 'Reset', type: :reset, class: 'btn btn-outline-info' %>
<% end %>


