<%= simple_form_for(country) do |f|%>

  <% if country.errors.any? %>
    <div>
      <ul>
      <% country.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    </div>
    <% end %>
  <div class="form-group">
    <%= f.input :name, label: 'Country Name', as: :select, :collection => ["Bhutan","Cambodia", "Laos", "Nepal", "Myanmar", "Thailand", "Vietnam"], class: 'form-control'%>
  </div>
  <div class="form-group">
  <%= f.input :summary, label: 'summary', :as => :trix_editor, :input_html => {:rows => 7}, class: "form-control" %>
</div>

  <%= f.submit class: 'btn btn-info' %>
  <%= f.button :button, 'Cancel', type: :reset, class: 'btn btn-outline-info' %>
<% end %>
