<div class="container">
  <h3><%= country.name %></h3>
  <p><strong>Summary:</strong> <%= country.summary%></p>
  <p><strong>Esstial Info:</strong> <%= country.essential_info%></p>
  <p><strong>Getting There:</strong> <%= country.getting_there%></p>
  <p><strong>Getting Around:</strong> <%= country.getting_around%></p>
  <p><strong>Weather & Climate:</strong> <%= country.weather_climate%></p>
  <p><strong>Visa & Permit:</strong> <%= country.visa_permit%></p>
  <p><strong>Local Customs:</strong> <%= country.local_customs%></p>
  <p><strong>Festival & Events:</strong> <%= country.festival_events%></p>
</div>
