<div class="container">
  <div class="panel-photo">
    <%= cl_image_tag @country.photo %>
    <span class="country-show-title"> <h1><%= @country.name %></h1></span>
  </div>
  <p><strong>Summary:</strong> <%= @country.summary.html_safe%></p>
  <p><strong>Esstial Info:</strong> <%= @country.essential_info.html_safe%></p>
  <p><strong>Getting There:</strong> <%= @country.getting_there.html_safe%></p>
  <p><strong>Getting Around:</strong> <%= @country.getting_around.html_safe%></p>
  <p><strong>Weather & Climate:</strong> <%= @country.weather_climate.html_safe%></p>
  <p><strong>Visa & Permit:</strong> <%= @country.visa_permit.html_safe%></p>
  <p><strong>Local Customs:</strong> <%= @country.local_customs.html_safe%></p>
  <p><strong>Festival & Events:</strong> <%= @country.festival_events.html_safe%></p>
  <%if user_signed_in?%>
  <div class="card-body">
      <% if policy(@country).edit? %>
      <%= link_to 'Edit', edit_country_path(@country), class: "btn btn-info" %>
      <%end%>
      <% if policy(@country).destroy? %>
      <%= link_to 'Delete', country_path(@country), class: "btn btn-outline-info", method: "delete", data: { confirm: "Are you sure you want to delete '#{@country.name}'?" } %>
      <%end%>
  </div>
  <%end%>
</div>
