<div class="panel-photo">
    <%= cl_image_tag @country.photo %>
    <div class="country-show-title">
      <span class="icon"><%= cl_image_tag @country.icon %></span>
      <span class="name"><h1>Exploring <%= @country.name %></h1></span>
    </div>

</div>
<div class="container">
  <div class="tour-search" id="mySidebar">
      <a href="javascript:void(0)" class="closebtn" id="close">Close <i class="fas fa-times-circle"></i></a>
      <div class="infos">
        <h5 class="title">General Informations</h5>
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#essential
        ">
        Esstial Info <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="essential" tabindex="-1" role="dialog" aria-labelledby="essentialTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="essentialTitle">Esstial Info:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= @country.essential_info.html_safe %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#visa">
        Visa Permit <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="visa" tabindex="-1" role="dialog" aria-labelledby="visaTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="visaTitle">Visa Permit:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= @country.visa_permit.html_safe %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#weather">
        Weather & Climate <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="weather" tabindex="-1" role="dialog" aria-labelledby="weatherTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="weatherTitle">Weather & Climate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= @country.weather_climate.html_safe %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#festival">
        Festival & Events <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="festival" tabindex="-1" role="dialog" aria-labelledby="festivalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="festivalTitle">Festival & Events</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= @country.festival_events.html_safe %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
        <!-- Button trigger modal -->
        <button type="button" class="btn-arrow" data-toggle="modal" data-target="#local">
        Local Custom <i class="fas fa-long-arrow-alt-right"></i>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="local" tabindex="-1" role="dialog" aria-labelledby="localTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="localTitle">Local Custom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= @country.local_customs.html_safe %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end modal -->
      </div>
  </div>
  <div class="country-summary" id="main">
    <button class="openbtn" id="open">Open More <i class="fas fa-align-left"></i></button>
    <%= @country.summary.html_safe%>

  </div>



  <%if user_signed_in?%>
  <div class="card-body">
      <% if policy(@country).edit? %>
      <%= link_to 'Edit', edit_country_path(@country), class: "btn btn-info" %>
      <%end%>
      <% if policy(@country).destroy? %>
      <%= link_to 'Delete', country_path(@country), class: "btn btn-outline-info", method: "delete", data: { confirm: "Are you sure you want to delete '#{@country.name}'?" } %>
      <%end%>
  </div>
  <%end%>
</div>
