<div class="container">

  <h1><%= @activity.name %></h1>
  <%= cl_image_tag @activity.photo, height: 250, width: 250, crop: :fill %> <br />
  <p><strong>Summary:</strong> <%= @activity.summary.html_safe%></p>
  <div>
    <% if policy(@activity).edit? %>
      <%= link_to "Edit", edit_activity_path(@activity), class: "btn btn-info" %>
      <%end%>
      <% if policy(@activity).destroy? %>
      <%= link_to "Delete", activity_path(@activity),class: "btn btn-outline-info", method: "delete", data: { confirm: "Are you sure you want to delete '#{@activity.name}'?" } %>
      <%end%>
  </div>
</div>
